# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Flask
instance/
.webassets-cache
static/results/*.png

# Research Repos (Not needed for the web app)
AcoustiX/
GeoAc/
MCRay-Tracing/
cram/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
